asgiref==3.6.0
Brotli==1.0.9
dj-database-url==1.2.0
Django==4.1.7
djangorestframework==3.14.0
gunicorn==20.1.0
middleware==1.2.3
Pillow==9.4.0
psycopg2-binary==2.9.5
python-decouple==3.8
pytz==2023.2
sqlparse==0.4.3
whitenoise==6.4.0
